
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  margin: 0px;
  padding-bottom: 30px;
  @include clearfix();

  a {
     text-decoration: none;
  }

  .page-wrapper {
    background-size: contain;
    margin: auto;
    max-width: 720px;
    padding-top: 75px;
    width: 90%;
    padding-bottom: 70px;
    min-height: 50vh;
    @include clearfix();
    @media screen and (max-width: 575px) {
    }
  }
}

.main-wrapper {
  padding-top: 20px;
}

header.simple-header {
  padding-top: 17px;
  //padding-left: 23px;
  display: flex;
  justify-content: center;
  .simple-vertical-flow {
      flex-direction: column;
      align-items: flex-start;
    .header-simple-top {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 10px;
    }
    .header-simple-bottom {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 150px;
      display: flex;
      a {
        color: gray;
      }
    }
  }
  a {
    color: black;
  }
}

header.large-header {
  display:flex;
  justify-content: center;
  padding-top: 17px;
  padding-left: 23px;
  padding-right: 21px;
  .header-left {
    width: 33.33%;
    display: flex;
    justify-content: flex-start;
  }
  .header-center {
    width: 33.33%;
    text-align: center;
  }
  .header-right {
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
  }
  .mood-button {
    float: left;
    margin-right: 15px;
    &:hover {
      cursor: pointer;
    }
    &.clicked {
      text-decoration: underline;
    }
  }
  .click-your-mood {
    float: left;
    margin-right: 15px;
  }
}

a.hlink {
  //display: block;
  //text-align: right;
  //width: 100%;
  //margin-top: 10px;
  color: gray;
  float:left;
  margin-right: 15px;
  text-decoration: none;
}
body.standard a.hlink {
  color: gray;
}

.center-title {
  position: absolute;
  top: 2%;
  left: 0%;
  width: 100%;
  text-align: center;
}

.footer {
  margin-top: 80px;
  margin-bottom: 160px;
  display: flex;
  justify-content: center;
  .footer-vertical {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }
  .footer-top {
    display: flex;
    justify-content: flex-start;
    display: none;
  }
  .footer-bottom {
    justify-content: center;
    display: flex;
    margin-top: 10px;
  }
}

.toc-wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;

  .table-of-contents {
    font-style: italic;
    margin-bottom:20px;
  }

  .posts-wrapper {
    display:flex;
    align-items:center;
    flex-direction:column;
  }

}

.aboutWrapper {
  max-width: 470px;
  margin:auto;
  padding-left: 20px;
}
.aboutLinksWrapper {
  display: flex;
  justify-content: left;
  .aboutLinks {
    width: 200px;
    margin-top: 50px;
    .hlink {
      margin-right: 0px;
    }
  }
}

.rssWrapper {
  width: 12px;
  margin: auto;
  margin-top: 100px;
  display: none;
}

.checkoutWrapper {
  input {
    width: 185px;
  }
}