a.hlink {
  //display: block;
  //text-align: right;
  //width: 100%;
  //margin-top: 10px;
  color: gray;
  float:left;
  margin-top: 5px;
  margin-right: 15px;
}
body.standard a.hlink {
  color: gray;
}

.center-title {
  position: absolute;
  top: 2%;
  left: 0%;
  width: 100%;
  text-align: center;
}

.footer-links-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer {
  height: 200px;
}