.zineWrapper {

  .backButton {
    color: black;
  }

  .zineDetail {
    margin-top: 30px;

    .zineTitle {
      font-weight: bold;
      margin-top: 0px;
    }

    .zineImg {
      width: 100%;
      max-width: 400px;
      margin-right: 50px;
      margin-bottom: 25px;
      float: left;
    }

    .zineWriteup {
      .zinePrice {
        margin-top: 10px;
      }

      .checkoutWrapper {
        margin-top: 30px;
      }
    }
  }

}